/* Footer */
#footer-container {
	background-color:  rgb(14, 118, 228);
	color: black;
	text-align: center;
}

.footer-img {
	max-width: max-content;
	margin: auto;

	padding: 0.25em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

a img {
	margin: 0.1em; 
}

.footer-link {
	text-decoration: none;
	color: black;
}

.footer-link:hover {
    color: orange;
}