/* Footer */
#footer-container {
	background-color:  rgb(14, 118, 228);
	color: dark;
	text-align: center;
}

.footer-img {
	width: fit-content;
	margin: auto;

	border-top: 2px solid black;
	padding: 0.25em;
	border-bottom: 2px solid black;
}

.footer-link {
	text-decoration: none;
	color: black;
}

.footer-link:hover {
    color: orange;
}