/* Footer */
#footer-container {
	display: block;
	margin-top: 1.5%;
	border-top: 2px solid white;
	background-color: rgb(20, 80, 143);
	width: 100%;
	color: white;
	text-align: center;
}

#footer-container p {
	margin:0;
}

.footer-img {
	width: max-content;
	margin: auto;

	padding: 0.25em;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	box-shadow: 2px 2px;
}

a img {
	margin: 0.1em; 
}

.footer-link {
	text-decoration: none;
	color: white;
}

.footer-link:hover {
    color: orange;
}