/* NAV Menu */
.menu-link {
	font-family: cursive;
	font-size: 2em; 
	padding: 2px;
}

.border-limiter {
	border-bottom: 2px solid gray;
	font-size: 0.8em;
	width: 25%;
	margin: auto;
	padding: 0;
}

.menuOverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.4s;
}

.menu-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.menuOverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menuOverlay a:hover, .menuOverlay a:focus {
    color: #f1f1f1;
    text-decoration: none;
}

.menuOverlay .closebtn {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 60px;
}

.menu-link[active] {
	color:  rgb(14, 118, 228);
	font-size: 2.5em;
}

@media screen and (max-height: 450px) {
    .menuOverlay a {font-size: 20px}
    .menuOverlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
}