
body {
    background-color: rgba(96, 161, 218, 0.747);
}

/* Navbar */
#navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(14, 118, 228);

    border: 3px solid black;

    font-size: 1.5em;
}
#navbar-right {
    text-align: center;
    margin: auto;

    padding: 0.2em;
}
#navbar-left {
    border-right: 3px solid black;
    padding: 0.2em 0.5em 0.1em 0.5em
}

#global-container {
    font-size: x-large;
    max-width: 90%;
    
    position: relative;
    top: 3em;

    min-height: 1000px;
}

@media (min-width : 576px) {
    #navbar-left::after {
        content: "Menu";
    }
}

@media (min-width : 1200px) {
    #global-container {
        max-width: 95%; 
    }
}



/* Page Container */
#page-container {
    text-align: center;

    padding: 1%;
}
#page-container h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(100, 149, 237);
}

/* Widgets Container */
#widgets-container {
    text-align: center;
    padding: 1%;
}
.widget {
    width: 100%;
    display: block;
    margin-bottom: 0.50em;
    margin-top: 0.50em;
    padding: 0.1em;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }